In [1]:
import pandas as pd
studentdata = pd.read_csv('/content/StudentsPerformance.csv')
studentdata.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [19]:
studentdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

**1. Find out how many males and females participated in the test**

In [20]:
studentdata['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

**2. What do you think about the students' parental level of education?**

In [13]:
import statistics as stat
print('By taking the mode we can infer that most of the parental level of education is: ',stat.mode(studentdata['parental level of education']))
print('\nDetailed value counts are:\n',studentdata['parental level of education'].value_counts())

By taking the mode we can infer that most of the parental level of education is:  some college

Detailed value counts are:
 some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

**3. Who scores the most on average for math, reading and writing based on
● Gender
● Test preparation course**

In [51]:
gender_math = studentdata.groupby('gender')['math score'].mean()
print(gender_math, '\n\033[1;37;35m Highest on average for math: ',gender_math.max(),' by gender: ',gender_math.idxmax(),'\033[0m \n')

gender_reading = studentdata.groupby('gender')['reading score'].mean()
print(gender_reading,'\n\033[1;37;35m Highest on average for reading: ',gender_reading.max(),' by gender: ',gender_reading.idxmax(),'\033[0m \n')

gender_writing = studentdata.groupby('gender')['writing score'].mean()
print(gender_writing,'\n\033[1;37;35m Highest on average for writing: ',gender_writing.max(),' by gender: ',gender_writing.idxmax(),'\033[0m \n')


course_math = studentdata.groupby('test preparation course')['math score'].mean()
print(course_math, '\n\033[1;37;35m Highest on average for math: ',course_math.max(),' with test preparation course: ',course_math.idxmax(),'\033[0m \n')

course_reading= studentdata.groupby('test preparation course')['reading score'].mean()
print(course_reading, '\n\033[1;37;35m Highest on average for reading: ',course_reading.max(),' with test preparation course: ',course_reading.idxmax(),'\033[0m \n')

course_writing = studentdata.groupby('test preparation course')['writing score'].mean()
print(course_writing, '\n\033[1;37;35m Highest on average for writing: ',course_writing.max(),' with test preparation course: ',course_writing.idxmax(),'\033[0m \n')

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64
 Highest on average for math:  68.82157676348548  by gender:  male

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64
 Highest on average for reading:  72.59073359073359  by gender:  female

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64
 Highest on average for writing:  72.46718146718146  by gender:  female

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64
 Highest on average for math:  69.96648044692738  with test preparation course:  completed

test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64
 Highest on average for reading:  74.17597765363128  with test preparation course:  completed

test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64
 Highest on average for writing:  74.68435754189944  with test preparation course:  completed

**4. What do you think about the scoring variation for math, reading and writing
based on
● Gender
● Test preparation course**

In [48]:
gender_mathvar = studentdata.groupby('gender')['math score'].var()
print(gender_mathvar, '\n\033[1;33;35m Highest scoring variation for math: ',gender_mathvar.max(),' by gender: ',gender_mathvar.idxmax(),'\033[0m \n')

gender_readingvar = studentdata.groupby('gender')['reading score'].var()
print(gender_readingvar,'\n\033[1;33;35m Highest scoring variation for reading: ',gender_readingvar.max(),' by gender: ',gender_readingvar.idxmax(),'\033[0m \n')

gender_writingvar = studentdata.groupby('gender')['writing score'].var()
print(gender_writingvar,'\n\033[1;33;35m Highest scoring variation for writing: ',gender_writingvar.max(),' by gender: ',gender_writingvar.idxmax(),'\033[0m \n')


course_mathvar = studentdata.groupby('test preparation course')['math score'].var()
print(course_mathvar, '\n\033[1;33;35m Highest scoring variation for math: ',course_mathvar.max(),' with test preparation course: ',course_mathvar.idxmax(),'\033[0m \n')

course_readingvar= studentdata.groupby('test preparation course')['reading score'].var()
print(course_readingvar, '\n\033[1;33;35m Highest scoring variation for reading: ',course_readingvar.max(),' with test preparation course: ',course_readingvar.idxmax(),'\033[0m \n')

course_writingvar = studentdata.groupby('test preparation course')['writing score'].var()
print(course_writingvar, '\n\033[1;33;35m Highest scoring variation for writing: ',course_writingvar.max(),' with test preparation course: ',course_writingvar.idxmax(),'\033[0m \n')

gender
female    256.958593
male      211.889097
Name: math score, dtype: float64
 Highest scoring variation for math:  256.9585931607211  by gender:  female

gender
female    207.677438
male      200.211010
Name: reading score, dtype: float64
 Highest scoring variation for reading:  207.6774381455228  by gender:  female

gender
female    220.369327
male      202.413924
Name: writing score, dtype: float64
 Highest scoring variation for writing:  220.36932705017793  by gender:  female

test preparation course
completed    210.884027
none         246.668662
Name: math score, dtype: float64
 Highest scoring variation for math:  246.668661699739  with test preparation course:  none

test preparation course
completed    183.265864
none         213.419851
Name: reading score, dtype: float64
 Highest scoring variation for reading:  213.4198511865709  with test preparation course:  none

test preparation course
completed    175.202612
none         226.251739
Name: writing score, dtype: float64
 Highest scoring variation for writing:  226.25173866767767  with test preparation course:  none

**5. The management needs your help to give bonus points to the top 25% of
students based on their math score, so how will you help the management
to achieve this.**

In [36]:
topstudents = studentdata[studentdata['math score'] >= studentdata['math score'].quantile(0.75)]
print('\033[1m \nTop 25% students based on their math score are: \n\n')
topstudents.sort_values(by = 'math score', ascending = False)

Top 25% students based on their math score are:

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
999,male,group E,bachelor's degree,standard,completed,100,100,100
998,male,group E,associate's degree,free/reduced,completed,100,100,93
997,male,group D,some college,standard,completed,100,97,99
996,male,group A,some college,standard,completed,100,96,86
517,female,group E,associate's degree,standard,none,100,100,100
...,...,...,...,...,...,...,...,...
854,male,group D,some high school,standard,completed,77,68,69
855,male,group E,associate's degree,free/reduced,completed,77,69,68
856,male,group E,some high school,standard,completed,77,76,77
415,female,group B,master's degree,free/reduced,completed,77,97,94
414,female,group A,high school,free/reduced,completed,77,88,85