**Question1: Area of circle**

In [1]:
import math
rad = float(input("Enter radius :"))
area = math.pi * rad**2
print("Area of circle is :", area)

Enter radius :3
Area of circle is : 28.274333882308138

**Question2: Display input details**

In [3]:
name = str(input("Enter the name: "))
roll_no = int(input("Enter the roll no: "))
marks = float(input("Enter the marks: "))
print("\nName: ", name, "\nRoll no: ", roll_no, "\nMark: ", marks)

Enter the name: Devika
Enter the roll no: 23
Enter the marks: 87

Name:  Devika
Roll no:  23
Mark:  87.0

**Question3: To find largest in a given list**

In [25]:
list_len = int(input("Enter the length of list: "))
list1 = []
print("Enter the numbers:\n")
for i in range(list_len):
  list1.append(int(input()))
print("Largest number is: ", max(list1))

enter the length of list: 4
enter the numbers:

-3
-6
-1
0
Largest number is:  0

**Question4: Find sum of current and previous values**

In [10]:
range_of_num = int(input("Enter the range of numbers: "))
sum_value = 0
for i in range(1,range_of_num + 1):
  print("Current number: ",i, " Previous number: ", sum_value, end = " ")
  sum_value = sum_value + i
  print("Sum: ", sum_value)
  sum_value = ++i

Enter the range of numbers: 10
Current number:  1  Previous number:  0 Sum:  1
Current number:  2  Previous number:  1 Sum:  3
Current number:  3  Previous number:  2 Sum:  5
Current number:  4  Previous number:  3 Sum:  7
Current number:  5  Previous number:  4 Sum:  9
Current number:  6  Previous number:  5 Sum:  11
Current number:  7  Previous number:  6 Sum:  13
Current number:  8  Previous number:  7 Sum:  15
Current number:  9  Previous number:  8 Sum:  17
Current number:  10  Previous number:  9 Sum:  19

**Question5: Numbers divisible by 5**

In [5]:
limit = int(input("Enter the limit of array: "))
num_list = []
print("Enter the numbers: \n")
for i in range(limit):
  num_list.append(int(input()))
divisible_no = []
for j in num_list:
  if(j%5 == 0):
    divisible_no.append(j)
print("Numbers divisible by 5 are :", divisible_no)

Enter the limit of array: 5
Enter the numbers:

34
20
5
45
6
Numbers divisible by 5 are : [20, 5, 45]

**Question6: To check if given no is prime or not**

In [7]:
num = int(input("Enter the number: "))
if(num <= 1):
  print(num," is not prime")
else:
  for i in range(2,num//2+1):
    if(num%i) == 0:
      print(num," is not prime.")
      break
  else:
    print(num, " is prime")

Enter the number: 3
3  is prime

**Question7: Reverse list**

In [12]:
limit = int(input("Enter the length of array: "))
list1 = []
print("Enter the numbers: ")
for i in range(limit):
  list1.append(int(input()))
print("Original list is: ",list1)

list2 =[] #for storing reversed array
for j in range(0, len(list1)):
  list2.append(list1[limit -1])
  limit -= 1
print("Reversed list is ",list2)

Enter the length of array: 6
Enter the numbers:
21
5
67
12
78
33
Original list is:  [21, 5, 67, 12, 78, 33]
Reversed list is  [33, 78, 12, 67, 5, 21]

**Question8: Stars triangle pattern printing**

In [17]:
rows = int(input("Enter number of rows: "))
for i in range(rows + 1):
  for j in range(i):
    print("*",end ="")
  print("\n")

Enter number of rows: 4


*

**

***

****

**Question9: Maximum of 3 given numbers**

In [14]:
list1 = []
print("Enter 3 numbers: ")
for i in range(3):
  list1.append(int(input()))
print("Maximum of given 3 numbers is: ", max(list1))

Enter 3 numbers:
3
6
7
Maximum of given 3 numbers is:  7

**Question10: Stars triangle and reverse triangle pattern**

In [15]:
for i in range(5):
  for j in range(i):
    print("*",end ="")
  print("\n")

for i in range(5,0,-1):
  for j in range(i):
    print("*", end ="")
  print("\n")

*

**

***

****

*****

****

***

**

*